.board-container{
	flex: 2;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #FFA0C9;
	padding: 15px 30px;
	border: 2px solid rgba(34, 34, 34, 0.561);
	border-radius: 8px;
	margin: 10px 10px;
	min-width: 225px;
	max-width: 350px;
}
.board-container>.board-room-text{
	margin: 0;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	word-wrap: break-word;
	max-width: 250px;
}
.board-container>.board{
	display:flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 5px;
}
.board-row{
	flex: 0 0 100%;
	display:flex;
	flex-wrap: nowrap;
	justify-content: center;
}
.board-row:after {
  clear: both;
  content: "";
  display: table;
}
.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
	font-size: 46px;
  font-weight: bold;
  line-height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
	width: 55px;
	height: 55px;
	outline:none;
	box-sizing: border-box;
}
.square.winning-square {
	color: rgb(92, 182, 122);
	border: 1px solid black;
	z-index: 50;
}
.board-turn-text-container {
	background-color: rgb(243, 211, 211);
	border: 1px solid black;
	border-radius: 5px;
	padding: 4px 6px;
	text-align: center;
	font-size: 18px;
	width: 75%;
	max-width: 190px;
}
.board-turn-text-container.finished {
	font-weight: bold;
}
