body{
  background-color: #E7F3F7;
  color: #172121;
}
.game-container{
  display:flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.input-container {
  display: flex;
  flex-direction: column;
  height: auto;
  flex: 1 1 260px;
  min-width: 260px;
  max-width: 450px;
  padding: 20px 5px;
  margin: 10px 5px;
  background-color: #FFA0C9;
  align-items: center;
  flex-wrap: wrap;
  border: rgba(34, 34, 34, 0.561) 2px solid;
  border-radius: 10px;
}
.input-container-name{
  flex: 2 1 260px;
}
.input-container-room{
  flex: 1 1 260px;
}
.input-form {
  width: 95%;
}
.name-text,
.room-text {
  word-wrap: break-word;
  text-align: center;
  margin: 5px 0;
  box-sizing: border-box;
  width: 100%;
}
.input-form input, .input-form button{
  border:none;
  outline: none;
  box-shadow: 0 0 1px 1px black; 
  border-radius: 7px;
}
.input-form .single-input-text-box {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  display: block;
  width:85%;
  padding: 5px 0;
  margin: 0 auto;
  text-align: center;
}
.input-form .single-input-text-box:focus {
  outline-offset: 0;
  box-shadow: 0 0 0 1.5px black;
}
.input-form .single-input-submit-button, .name-input-button {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  display: block;
  width:45%;
  padding: 5px 0;
  margin: 6px auto;
  font-size: 14px;
  text-decoration: none;
  background-color: rgb(172, 235, 172);
}
.input-form .single-input-submit-button.join{
  background-color: #6FD695;
  width:47.5%;
}

.input-form .single-input-submit-button:hover, .name-input-button:hover {
  background-color: #6FD695;
  box-shadow: 0 0 0 1.5px;
  width:50%;
}
.input-form .single-input-submit-button.joined,
.input-form .single-input-submit-button.same-name:hover,
.room-list button.confirmed-room-button {
  width:40%;
  background-color: lightcoral;
}
.room-list button.confirmed-room-button{
  width: 65px;
}
.name-input-button.leave:hover {
  background-color: lightcoral;
}
.single-input-label {
  margin-right: 5px;
}
.input-container.name-confirmed {
  background-color: lightcyan;
  padding: 7px 5px;
  min-width: 250px;
}
.room-list-container{
  display:flex;
  flex-wrap: wrap;
  border: 1px solid rgb(10, 5, 5);
  background-color: rgb(255, 221, 221);
  padding: 0 5px;
  border-radius: 8px;
}
.room-list-container div{
  box-sizing: border-box;
  width:100%;
  margin: 3px 0;
  flex: 0 1 100%;
}
.room-list{
  display:flex;
  justify-content: space-between;
  align-items: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  padding: 2px 6px;
  background-color: lightyellow;
  border-radius: 3px;
  margin: 2px 4px;
  border: 1px black solid;
  overflow: hidden;
  word-wrap: break-word;
}
.room-list-text{
  overflow:hidden;
}
.room-list button{
  -webkit-transition: all 0.1s;
  width: 50px;
  height: 20px;
  margin-left: 8px;
  transition: all 0.1s;
  border-radius: 4px;
  background-color: lightgrey;  
}
.room-list .room-button:hover{
  background-color: rgb(186, 221, 243);
  width: 60px;
}
.confirmed-room{
  background-color: #6ACBBC;
  padding-left: 10px;
}
