.game-container{
  display:flex;
  justify-content: center;
}
.input-container {
  display: flex;
  flex-direction: column;
  width: 65%;
  padding: 20px 0px;
  margin: 10px 5px;
  background-color: greenyellow;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 10px;
}
.input-container.name{
  background-color: lightskyblue;
}
.input-form {
  width: 95%;
}
.input-form input, .input-form button{
  border:none;
  outline: none;
  box-shadow: 0 0 1px 1px black; 
  border-radius: 7px;
}
.input-form .single-input-text-box {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  display: block;
  width:85%;
  padding: 5px 0;
  margin: 0 auto;
  text-align: center;
}
.input-form .single-input-text-box:focus {
  outline-offset: 0;
  box-shadow: 0 0 0 1.5px black;
}
.input-form .single-input-submit-button, .name-input-button {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  display: block;
  width:45%;
  padding: 5px 0;
  margin: 6px auto;
  font-size: 14px;
  text-decoration: none;
  background-color: #fff;
}
.input-form .single-input-submit-button:hover, .name-input-button:hover {
  background-color: lightgreen;
  box-shadow: 0 0 0 1.5px;
}
.name-input-button.leave:hover {
  background-color: lightcoral;
}
.single-input-label {
  margin-right: 5px;
}
.input-container.name-confirmed {
  background-color: lightcyan;
  padding: 7px 5px;
}
