.chat-room-container {
    flex: 3;
    background-color: #FFA0C9;
    border: rgba(34, 34, 34, 0.561) 2px solid;
    border-radius: 10px;
    margin: 10px;
    padding: 20px 15px;
    max-width: 485px;
    min-width: 260px;
}
.chat-room-messages {
    background-color: rgb(243, 211, 211);
    border: 1px solid black;
    margin: 5px 0;
    padding: 3px 8px;
    overflow-y: scroll;
    overflow-x: hidden;
    word-wrap: break-word;
    height: 335px;
}
.chat-room-messages::-webkit-scrollbar{
    width: 7px;
}
.chat-room-messages::-webkit-scrollbar-track{
    background: rgb(211, 211, 211);
    margin: 0;
    
  }
.chat-room-messages::-webkit-scrollbar-thumb{
    background: rgb(116, 115, 115);
    margin: 10px 0;
  }
.chat-room-messages::-webkit-scrollbar-thumb:hover{
  background: rgb(82, 82, 82);
}
.chat-room-message-container {
    border-bottom: 1px solid grey;
    margin: 2px 0;
}
.chat-room-message-container>.sender-name {
    font-weight: bold;
}
.chat-room-message-container>.sender-name::after {
    content: ": ";
}
.chat-room-form {
    padding:  0;
}
.chat-room-form .chat-room-text-input {
    transition: all 0.2s;
    text-align: center;
    outline: none;
    border: none;
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin: 3px auto;
    padding: 5px 5px;
    border: 1px solid rgba(78, 78, 78, 0.89);
    border-radius: 8px;
}
.chat-room-form .chat-room-text-input:focus {
    border-color: black;
    box-shadow: 0 0 2px 0 black;
}
.chat-room-form .chat-room-send-button {
    transition: all 0.2s;
    display: block;
    float: right;
    border: none;
    outline: none;
    width: 15%;
    margin: 3px 0;
    padding: 5px 0;
    border-radius: 7px;
    background-color: rgb(188, 238, 188);
    box-shadow: 0 0 1px 1px #000;
}
.chat-room-form .chat-room-send-button:hover {
    width: 16%;
    background-color: #6FD695;
    box-shadow: 0 0 0 1.5px;
}
.chat-room-form .chat-room-send-button.invalid {
    background-color: rgb(240, 166, 166);
    width: 14%;
}
.chat-room-form .chat-room-send-button.invalid:hover {
    background-color: lightcoral;
    width: 13.5%;
}