.game-info-container{
	display: flex;
	justify-content: center;
  flex-wrap: wrap;
	max-width: 650px;
	min-width: 150px;
	width:50%;
  padding: 20px 10px;
  margin: 10px 20px;
  background-color: #FFA0C9;
  border: rgba(34, 34, 34, 0.561) 2px solid;
  border-radius: 10px;
}
.team-toggle{
	display:flex;
	flex: 1;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 200px;
  border: 1px solid rgb(10,5,5);
  background-color: rgb(243, 211, 211);
  padding: 4px 8px;
  margin: 0 10px;
  border-radius: 8px;
}
.team-toggle>div{
	flex: 1;
	box-sizing: border-box;
}
.team-toggle .team-buttons-container{
	display:flex;
	flex-wrap: nowrap;
	justify-content: center;
	min-width: 100%;
}
.team-toggle .team-buttons-container button{
	flex: 1 0;
}
.team-toggle .team-buttons-container button:first-child{
	border-radius: 7px 0 0 7px;
	margin-right:0;
	box-shadow: none;
	border: solid black;
	border-right-color: rgb(192, 192, 192);
	border-right-style: groove;
	border-width: 1px; 
}
.team-toggle .team-buttons-container button:last-child{
	border-radius: 0 7px 7px 0;
	margin-left:0;
	box-shadow: none;
	border: solid black;
	border-width: 1px 1px 1px 0;
}
.team-toggle .team-buttons-container button:hover{
	background-color: rgb(188, 238, 188);
	flex:1.2;
	box-shadow: 0 0 3px 0 black;
}
.team-toggle button{
	flex: 1 1 50px;
	padding: 6px 8px;
	margin: 3px 10px;
	border: none;
  outline: none;
	transition: all 0.2s;
	transition-timing-function: ease-out;
  border-radius: 7px;
  font-size: 14px;
  text-decoration: none;
	box-shadow: 0 0 1px 1px #000;
	
}
.team-toggle button:hover{
	box-shadow: 0 0 0 1.5px;
}
.team-toggle .team-buttons-container button.current {
	background-color: #6FD695;
	flex:4;
}
.team-toggle .spectate-button-container{
	display:flex;
	justify-content: center;
}
.team-toggle .spectate-button-container button{
	max-width: 200px;
	flex: 0.8;
}
.team-toggle .spectate-button-container button:hover{
	background-color: rgb(204, 204, 204);
	max-width: 204px;
	flex: 0.86;
}
.team-toggle .spectate-button-container button.current {
	max-width: 215px;
	background-color: rgb(182, 182, 182);
	flex:1;
}