.game-info-container{
	display: flex;
	align-items: center;
  flex-wrap: wrap;
	max-width: 650px;
	min-width: 150px;
  padding: 20px 10px;
  margin: 10px 20px;
  background-color: #FFA0C9;
  border: rgba(34, 34, 34, 0.561) 2px solid;
  border-radius: 10px;
}
.team-toggle{
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
  border: 1px solid rgb(10,5,5);
  background-color: rgb(243, 211, 211);
  padding: 15px 8px;
  margin: 0 10px;
  border-radius: 8px;
}
.team-toggle>div{
	flex: 1;
	box-sizing: border-box;
}
.team-toggle .team-buttons-container{
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
	min-width: 100%;
}
.team-toggle .team-buttons-container button{
	min-width: 90px;
	max-width: 255px;
}
.team-toggle button{
	flex: 1 1 50px;
	padding: 6px 8px;
	margin: 6px 10px;
	border: none;
  outline: none;
  -webkit-transition: all 0.2s;
	transition: all 0.2s;
  border-radius: 7px;
  font-size: 14px;
  text-decoration: none;
	box-shadow: 0 0 1px 1px #000;
	
}
.team-toggle button:hover{
	box-shadow: 0 0 0 1.5px;
}
.team-toggle button.current {
	background-color: #6FD695;
	flex:4;
	margin-left:4px;
	margin-right:4px;
	box-shadow: 0 0 0 1.5px;
}
.team-toggle .spectate-button-container{
	display:flex;
	justify-content: center;
}
.team-toggle .spectate-button-container button{
	max-width: 200px;
}
.team-toggle .spectate-button-container button.current {
	max-width: 215px;
	background-color: rgb(182, 182, 182);
}